TINY_LOG_PORT=3006
TINY_LOG_DATA_PATH=./tiny-log-data
TINY_LOG_API_KEY=change-me
TINY_LOG_CLIENT_TOKEN=change-me
TINY_LOG_AUTH_MODE=anonymous
TINY_LOG_RETENTION_DAYS=30
TINY_LOG_SESSION_DAYS=7
# false unless you terminate TLS in front of tiny-log
TINY_LOG_COOKIE_SECURE=false
RUST_LOG=info
