TINY_LOG_URL=http://127.0.0.1:3006
TINY_LOG_API_KEY=same-as-server
TINY_LOG_HOST_NAME=VM2
TINY_LOG_SYSTEM_INTERVAL_SECS=60
TINY_LOG_SERVICE_INTERVAL_SECS=120
TINY_LOG_DOCKER=true
TINY_LOG_DISK_PATH=/
RUST_LOG=info
